unpackaged/main/default/flows/Create_Billable_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Billable_Item</name>
        <label>Assign Billable Item</label>
        <locationX>930</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>nBillableItem.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>treatmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>testId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Consultation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consultationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>supplierId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billable_Item_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Billable_Item_0</name>
        <label>Assign Billable Item</label>
        <locationX>930</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>nBillableItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Billable_Item_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billable_Item_Unit_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Billable_Item_Cost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billable_Item_Unit_Cost_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Test__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nBillableItem.Test__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectMembership.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Insurance_Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectInsurancePolicy.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Payment_Method</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Item_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Item_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Billing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Requires_Prescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Product.Prescription_Only__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Prescribing_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrescribingDoctor.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nBillableItem.Consultation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nBillableItem.Consultation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billable_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>930</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>countMembership</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Memberships</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countPolicies</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Insurance_Policies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignConsultationBillableItem</name>
        <label>Assign Consultation Billable Item</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billable_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTestBillableItem</name>
        <label>Assign Test Billable Item</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billable_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignTreatmentBillableItem</name>
        <label>Assign Treatment Billable Item</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Treatment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Billable_Item</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Consultation</name>
        <choiceText>Consultation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultation</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Test</name>
        <choiceText>Test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Treatment</name>
        <choiceText>Treatment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Treatment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_Input_Variables_Present</name>
        <label>Are Input Variables Present</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Billable_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Input_Variables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>consultationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>treatmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Treatment</targetReference>
            </connector>
            <label>No Input Variables</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Billable_Item_Prescription</name>
        <label>Is Billable Item Prescription</label>
        <locationX>930</locationX>
        <locationY>2546</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Billable_Is_Prescription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Selected_Product.Prescription_Only__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PrescriptionWarning</targetReference>
            </connector>
            <label>Yes Billable Is Prescription</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_for_Approval</name>
        <label>Send for Approval?</label>
        <locationX>732</locationX>
        <locationY>2762</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_For_Prescription_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Prescription_Autolaunch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TestId_Null</name>
        <label>TestId Null?</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Billable_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_TestId_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Consultation</targetReference>
            </connector>
            <label>Yes TestId Null</label>
        </rules>
        <rules>
            <name>Test_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>testId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTestBillableItem</targetReference>
            </connector>
            <label>Test Id Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>TreatmentId_Null</name>
        <label>TreatmentId Null?</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Billable_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Treatment_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>treatmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Test</targetReference>
            </connector>
            <label>TreatmentId Null</label>
        </rules>
        <rules>
            <name>TreatmentId_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>treatmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignTreatmentBillableItem</targetReference>
            </connector>
            <label>TreatmentId Present</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>paymentTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Billable_Item__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>supplyTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Channel__c</picklistField>
        <picklistObject>Billable_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>approvalYN</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Send_For_Prescription_Approval}=&quot;Yes&quot;,true,false)</expression>
    </formulas>
    <interviewLabel>Create Billable Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Billable Item</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Billable_Item</name>
        <label>Create Billable Item</label>
        <locationX>930</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Is_Billable_Item_Prescription</targetReference>
        </connector>
        <inputReference>nBillableItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Consultation</name>
        <label>Get Consultation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignConsultationBillableItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Consultation__c</object>
        <outputAssignments>
            <assignToReference>caseId</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>channel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>supplierId</assignToReference>
            <field>Facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>consultationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>patientId</assignToReference>
            <field>Patient__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurance_Policies</name>
        <label>Get Insurance Policies</label>
        <locationX>930</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Counts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nBillableItem.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurance_Policy__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Memberships</name>
        <label>Get Memberships</label>
        <locationX>930</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurance_Policies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>nBillableItem.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>930</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Memberships</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entry</name>
        <label>Get Pricebook Entry</label>
        <locationX>930</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billable_Item_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectPatientPricebook.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Selected_Product.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>930</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Family</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Type_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>supplierId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Product</name>
        <label>Get Selected Product</label>
        <locationX>930</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectProduct.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test</name>
        <label>Get Test</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TestId_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Test__c</object>
        <outputAssignments>
            <assignToReference>caseId</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>channel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>supplierId</assignToReference>
            <field>Facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>testId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>patientId</assignToReference>
            <field>Patient__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Treatment</name>
        <label>Get Treatment</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TreatmentId_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Treatment__c</object>
        <outputAssignments>
            <assignToReference>caseId</assignToReference>
            <field>Case__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>channel</assignToReference>
            <field>Channel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>supplierId</assignToReference>
            <field>Facility__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>treatmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>patientId</assignToReference>
            <field>Patient__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Billable_Item_Detail</name>
        <label>Billable Item Detail</label>
        <locationX>930</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Billable_Item_0</targetReference>
        </connector>
        <fields>
            <name>Billable_Item_Unit_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Pricebook_Entry.UnitPrice</elementReference>
            </defaultValue>
            <fieldText>Billable Item Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Channel_0</name>
            <choiceReferences>supplyTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>channel</elementReference>
            </defaultValue>
            <fieldText>Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Item_Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_Product.Name</elementReference>
            </defaultValue>
            <fieldText>Item Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billable_Item_Unit_Cost_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Selected_Product.Cost_Price__c</elementReference>
            </defaultValue>
            <fieldText>Billable Item Unit Cost Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel_0</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>External</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nBillableItem.Supplier__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Billable_Item_Info</name>
        <label>Billable Item Info</label>
        <locationX>930</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nBillableItem.Patient__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nBillableItem.Case__c</objectFieldReference>
        </fields>
        <fields>
            <name>Type_0</name>
            <choiceReferences>Test</choiceReferences>
            <choiceReferences>Consultation</choiceReferences>
            <choiceReferences>Treatment</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>type</elementReference>
            </defaultValue>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nBillableItem.Test__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Test</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nBillableItem.Treatment__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Treatment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nBillableItem.Consultation__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Consultation</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Product</name>
        <label>Choose Product</label>
        <locationX>930</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Product</targetReference>
        </connector>
        <fields>
            <name>adviceText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Patient has {!countMembership} Membership(s) and {!countPolicies} Insurance Policy/Policies&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Payment_Method</name>
            <choiceReferences>paymentTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Payment Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectInsurancePolicy</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Insurance_Policy__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Insurance Policy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Insurance_Policies</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-01a3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Insurance Policy Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Account_Insurer__c&quot;,&quot;guid&quot;:&quot;column-ad7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Insurer&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Account (Insurer)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Active__c&quot;,&quot;guid&quot;:&quot;column-93a4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Active&quot;,&quot;type&quot;:&quot;boolean&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Payment_Method</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Insurance</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SelectMembership</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Membership</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Memberships</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c420&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Membership Ref&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-0c96&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-9595&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Payment_Method</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Membership</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>selectProduct</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-05b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Prescription_Only__c&quot;,&quot;guid&quot;:&quot;column-2664&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Prescription Only&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-42e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Product Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Supplier__c&quot;,&quot;guid&quot;:&quot;column-932a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Supplier&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Cost_Price__c&quot;,&quot;guid&quot;:&quot;column-899a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cost Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SelectPatientPricebook</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Price_Book__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Patient Pricebook</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Patient.Price_Book__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PrescriptionWarning</name>
        <label>PrescriptionWarning</label>
        <locationX>732</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_for_Approval</targetReference>
        </connector>
        <fields>
            <name>provideDetailText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;One or more of the Treatment Products selected require a Prescription&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please provide details of the Prescribing Doctor below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PrescribingDoctor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Prescribing_Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prescribing Doctor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Billable_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Send_For_Prescription_Approval</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Send For Prescription Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Input_Variables_Present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Prescription_Autolaunch</name>
        <label>New Prescription Autolaunch</label>
        <locationX>600</locationX>
        <locationY>2870</locationY>
        <flowName>New_Prescription_Autolaunch</flowName>
        <inputAssignments>
            <name>prescribingDoctorId</name>
            <value>
                <elementReference>PrescribingDoctor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sendForApproval</name>
            <value>
                <elementReference>approvalYN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>treatmentProduct</name>
            <value>
                <elementReference>nBillableItem.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>consultationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>countMembership</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countPolicies</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nBillableItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Billable_Item__c</objectType>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>supplierId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>treatmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Treatment,Test,Consultation</description>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
