unpackaged/main/default/flows/Create_Membership_From_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Account_Membership</name>
        <label>Assign Account Membership</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>nAccountMembership.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccountMembership.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Membership.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccountMembership.Joined_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Membership</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Individual_Membership_True</name>
        <label>Create Individual Membership True?</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Individual_Membership</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Individual_Membership_for_Patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Membership</targetReference>
            </connector>
            <label>Yes, Create Individual Membership</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Account_Have_an_Organisation_or_Household</name>
        <label>Does Account Have an Organisation or Household?</label>
        <locationX>1557</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Household_or_Org_Present</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Household__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Organisation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household_Account_Membership</targetReference>
            </connector>
            <label>Yes Household or Org Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Membership_Type</name>
        <label>Membership Type</label>
        <locationX>798</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Household_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Membership.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Household_Account_Membership_Record</targetReference>
            </connector>
            <label>Household</label>
        </rules>
        <rules>
            <name>Organisation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Membership.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Membership</targetReference>
            </connector>
            <label>Organisation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memberships_Found</name>
        <label>Memberships Found?</label>
        <locationX>1216</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Memberships_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household_Account_Membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Membership_0</targetReference>
            </connector>
            <label>Yes Memberships Found</label>
        </rules>
        <rules>
            <name>No_Membership_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household_Account_Membership</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Org_Membership_Error</targetReference>
            </connector>
            <label>No Membership Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_Account_Type</name>
        <label>What is the Account Type</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateHouseholdMembership</targetReference>
            </connector>
            <label>Household</label>
        </rules>
        <rules>
            <name>Organisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOrganisationMembership</targetReference>
            </connector>
            <label>Organisation</label>
        </rules>
        <rules>
            <name>PatientType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Account_Have_an_Organisation_or_Household</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
    </decisions>
    <description>Screen Flow to create Membership from Account, calls autolaunch</description>
    <dynamicChoiceSets>
        <name>householdChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>individualProductChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>membershipChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status__c</picklistField>
        <picklistObject>Membership__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>organisationProductChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Membership_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Membership From Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Membership From Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Membership</name>
        <label>Create Account Membership</label>
        <locationX>798</locationX>
        <locationY>1298</locationY>
        <inputReference>nAccountMembership</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1062</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_Account_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household_Account_Membership</name>
        <label>Get Household Account Membership</label>
        <locationX>1216</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Memberships_Found</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (2 AND 5) AND 3</filterLogic>
        <filters>
            <field>Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Household__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Organisation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Organisation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Household_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Organisation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Membership</name>
        <label>Get Membership</label>
        <locationX>798</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Membership_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Membership.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>1557</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Membership_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Membership_Product.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHouseholdProduct</name>
        <label>Get Household Product</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Confirm_Membership_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectHouseholdMembershipProduct.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOrganisationProduct</name>
        <label>Get Organisation Product</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Confirm_Membership_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectOrgMembershipProduct.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Membership_Term</name>
        <label>Confirm Membership Term</label>
        <locationX>1557</locationX>
        <locationY>1898</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Individual_Membership</targetReference>
        </connector>
        <fields>
            <name>productDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You have selected {!Get_Product.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The standard term for this product is {!Get_Product.NumberOfRevenueInstallments} months, but you can edit this below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Membership_Term_Months</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Product.NumberOfRevenueInstallments</elementReference>
            </defaultValue>
            <fieldText>Membership Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirm_Membership_Term</name>
        <label>Copy 1 of Confirm Membership Term</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateOrganisationMembership_0</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_productDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You have selected {!GetOrganisationProduct.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The standard term for this product is {!GetOrganisationProduct.NumberOfRevenueInstallments} months, but you can edit this below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrganisationStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OrganisationMembershipTermMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetOrganisationProduct.NumberOfRevenueInstallments</elementReference>
            </defaultValue>
            <fieldText>Membership Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Confirm_Membership_Term</name>
        <label>Copy 2 of Confirm Membership Term</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateHouseholdMembership_0</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_productDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You have selected {!GetHouseholdProduct.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The standard term for this product is {!GetHouseholdProduct.NumberOfRevenueInstallments} months, but you can edit this below:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HouseholdStartDate</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>householdMembershipTermMonths</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GetHouseholdProduct.NumberOfRevenueInstallments</elementReference>
            </defaultValue>
            <fieldText>Membership Term (Months)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Membership</name>
        <label>Create Membership</label>
        <locationX>1557</locationX>
        <locationY>1682</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
        <fields>
            <name>Membership_Status</name>
            <choiceReferences>membershipChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Membership_Product</name>
            <choiceReferences>individualProductChoice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Membership Product</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Add any additional notes here&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateHouseholdMembership</name>
        <label>Create Household Membership</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetHouseholdProduct</targetReference>
        </connector>
        <fields>
            <name>householdMembershipStatus</name>
            <choiceReferences>membershipChoiceSet</choiceReferences>
            <choiceReferences>householdChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectHouseholdMembershipProduct</name>
            <choiceReferences>householdChoiceSet</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Membership Product</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HouseholdDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Add any additional notes here&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateOrganisationMembership</name>
        <label>Create Organisation Membership</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetOrganisationProduct</targetReference>
        </connector>
        <fields>
            <name>OrganisationMembership_Status</name>
            <choiceReferences>membershipChoiceSet</choiceReferences>
            <choiceReferences>householdChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Membership Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectOrgMembershipProduct</name>
            <choiceReferences>organisationProductChoice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Membership Product</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OrganisationDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Add any additional notes here&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Org_Membership_Error</name>
        <label>Org Membership Error</label>
        <locationX>1282</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Individual_Membership_True</targetReference>
        </connector>
        <fields>
            <name>membershipErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This Patient is associated with either a Household or an Organisation, but the Organisation does not have an Active Membership&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please add a Membership to the Organisation or Household and return to this screen flow to associate the Patient to this Membership. Alternatively, select the box below to create an Individual Membership, e.g. where the Organisational Membership has ceased and the Patient wishes to join under an Individual Membership.&lt;/p&gt;&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Individual_Membership_for_Patient</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Individual Membership for Patient</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Membership_0</name>
        <label>Select Membership</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Membership</targetReference>
        </connector>
        <fields>
            <name>selectMembershipDisplay</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;The Patient is associated with an Organisation or a Household. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please select a Membership below to add the Patient to&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Membership</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Membership__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Membership</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Household_Account_Membership</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-bc33&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Membership Ref&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-4273&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-41af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-4a10&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>936</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Household_Account_Membership_Record</name>
        <label>Create Household Account Membership Record</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Assign_Account_Membership</targetReference>
        </connector>
        <flowName>Create_Membership_Autolaunch</flowName>
        <inputAssignments>
            <name>membershipAccountId</name>
            <value>
                <elementReference>Get_Account.Household__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>membershipId</name>
            <value>
                <elementReference>Select_Membership.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Individual_Membership</name>
        <label>Create Individual Membership</label>
        <locationX>1557</locationX>
        <locationY>2006</locationY>
        <flowName>Create_Membership_Autolaunch</flowName>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <elementReference>Get_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>startDate</name>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <elementReference>Membership_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>term</name>
            <value>
                <elementReference>Membership_Term_Months</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CreateHouseholdMembership_0</name>
        <label>Create Household Membership</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>Create_Membership_Autolaunch</flowName>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>HouseholdDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>membershipAccountId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <elementReference>GetHouseholdProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>startDate</name>
            <value>
                <elementReference>HouseholdStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <elementReference>householdMembershipStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>term</name>
            <value>
                <elementReference>householdMembershipTermMonths</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>CreateOrganisationMembership_0</name>
        <label>Create Organisation Membership</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>Create_Membership_Autolaunch</flowName>
        <inputAssignments>
            <name>description</name>
            <value>
                <elementReference>OrganisationDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>membershipAccountId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>productId</name>
            <value>
                <elementReference>GetOrganisationProduct.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>startDate</name>
            <value>
                <elementReference>OrganisationStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <elementReference>OrganisationMembership_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>term</name>
            <value>
                <elementReference>OrganisationMembershipTermMonths</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>nAccountMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>nMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
