unpackaged/main/default/flows/Create_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>842</locationX>
        <locationY>1274</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>nAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Additional_Billing_Address</name>
        <label>Assign Additional Billing Address</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>nAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organisation_Customer</name>
        <label>Assign Organisation Customer</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>nAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Landline.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Organisation_Referrer</name>
        <label>Assign Organisation Referrer</label>
        <locationX>1106</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>nAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Landline.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partner (Not Service Provider)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Partner_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Partner_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignConsultant</name>
        <label>Assign Consultant</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>nAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Landline.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consultant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHousehold</name>
        <label>Assign Household</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>nAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Landline.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Customer_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMailingAddressToBillingAddress</name>
        <label>Assign Mailing Address To Billing Address</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>nAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPatient</name>
        <label>Assign Patient</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>nAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Landline.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mobile.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Patient_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Patient_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrganisationAcc.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HouseholdAcc.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Patient_Default_Billing_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientBillingProcess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Date_of_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebook.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignServiceProvider</name>
        <label>Assign ServiceProvider</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>nAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Landline.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Provider</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Town_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_County_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Shipping_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccount.Service_Provider_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Provider_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bill_Direct_to_Patient</name>
        <choiceText>Bill Direct to Patient/Insurer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bill Direct to Patient</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bill_to_Organisation_or_Household_Account</name>
        <choiceText>Bill to Organisation or Household Account</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bill to Organisation or Household Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>Customer_Prospect_Organisation</name>
        <choiceText>Customer/Prospect Organisation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer/Prospect Organisation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Household</name>
        <choiceText>Household</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Household</stringValue>
        </value>
    </choices>
    <choices>
        <name>Household_0</name>
        <choiceText>Household</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Household</stringValue>
        </value>
    </choices>
    <choices>
        <name>Insurer</name>
        <choiceText>Insurer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Insurer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medical_Facility</name>
        <choiceText>Medical Facility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical Facility</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medical_Professional</name>
        <choiceText>Medical Professional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical Professional</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Organisation</name>
        <choiceText>Organisation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Organisation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Partner_0</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referral Partner</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patient</name>
        <choiceText>Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Direct Patient</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Billing_Address</name>
        <label>Billing Address</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Parent_Org</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PatientBillingProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Organisation</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientBillingProcess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Household</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Bill To Parent Org</label>
        </rules>
        <rules>
            <name>Same_As_Mailing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Billing_Address_Same_as_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMailingAddressToBillingAddress</targetReference>
            </connector>
            <label>Same As Mailing</label>
        </rules>
        <rules>
            <name>Not_Mailing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Billing_Address_Same_as_Mailing_Address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BillingAddress_0</targetReference>
            </connector>
            <label>Not Mailing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Account</name>
        <label>Type of Account</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Patient</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
        <rules>
            <name>Consultant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Medical_Professional</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Record_Type</targetReference>
            </connector>
            <label>Consultant</label>
        </rules>
        <rules>
            <name>Organisation_Customer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Customer_Prospect_Organisation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Get_Record_Type</targetReference>
            </connector>
            <label>Organisation Customer</label>
        </rules>
        <rules>
            <name>Medical_Facility_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Medical_Facility</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Get_Record_Type</targetReference>
            </connector>
            <label>Medical Facility</label>
        </rules>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Partner_0</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Get_Record_Type</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
        <rules>
            <name>Household_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_Account_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Household</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Get_Record_Type</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>mailingCountryChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Shipping_Country__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>partnerChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Partner_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>patientBillingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Patient_Default_Billing_Process__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>patientStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Patient_Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>serviceProviderChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Service_Provider_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Navigate_to_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultScreen</targetReference>
        </faultConnector>
        <inputReference>nAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Record_Type</name>
        <label>Copy 1 of Get Record Type</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignConsultant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Provider_Individual</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_Record_Type</name>
        <label>Copy 3 of Get Record Type</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Organisation_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_4_of_Get_Record_Type</name>
        <label>Copy 4 of Get Record Type</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignServiceProvider</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Provider_Corporate</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_5_of_Get_Record_Type</name>
        <label>Copy 5 of Get Record Type</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Organisation_Referrer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Organisation</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Copy_6_of_Get_Record_Type</name>
        <label>Copy 6 of Get Record Type</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignHousehold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Household</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignPatient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Details</name>
        <label>Account Details</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShippingAddress</targetReference>
        </connector>
        <fields>
            <name>Please_Select_Account_Type</name>
            <choiceReferences>Patient</choiceReferences>
            <choiceReferences>Customer_Prospect_Organisation</choiceReferences>
            <choiceReferences>Household</choiceReferences>
            <choiceReferences>Medical_Facility</choiceReferences>
            <choiceReferences>Medical_Professional</choiceReferences>
            <choiceReferences>Partner_0</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select Account Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Provider_Type</name>
            <choiceReferences>serviceProviderChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Provider Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Facility</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Partner_Type</name>
            <choiceReferences>partnerChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Partner Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Partner_0</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>medProfessionalWarning</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;N.B.: Medical Professional Accounts are used for Medical Professionals that are NOT associated with a Medical Facility (i.e. they are self-employed). &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you wish to create a record for an Individual who is associated with one or more Medical Facilities, please exit this screen flow and create a Contact directly from the Medical Facility&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Professional</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_the_Patient_Associated_with_an_Organisation_Account_or_Household_Account</name>
            <choiceReferences>Organisation</choiceReferences>
            <choiceReferences>Household_0</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Is the Patient Associated with an Organisation Account or Household Account?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HouseholdAcc</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Household__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Household</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_Patient_Associated_with_an_Organisation_Account_or_Household_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Household</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OrganisationAcc</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Organisation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Organisation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Is_the_Patient_Associated_with_an_Organisation_Account_or_Household_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Organisation</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Patient_Status</name>
            <choiceReferences>patientStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Prospect</stringValue>
            </defaultValue>
            <fieldText>Select Patient Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;This will ordinarily be Prospect in the first instance&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Professional</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Professional</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Customer_Prospect_Organisation</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Household</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Insurer</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Facility</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Partner_0</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_of_Birth</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Professional</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>^\+\d{1,15}$</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Number starting with &quot;+&quot; followed by dialling code </stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Medical_Professional</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_Landline</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Phone (Landline)</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PatientBillingProcess</name>
            <choiceReferences>patientBillingChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Patient Default Billing Process</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Please_Select_Account_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Patient</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>pricebook</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Price_Book__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Patient Pricebook</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BillingAddress_0</name>
        <label>BillingAddress</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Additional_Billing_Address</targetReference>
        </connector>
        <fields>
            <name>billingAddress</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Billing Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Billing_Street</name>
            <dataType>String</dataType>
            <fieldText>Billing Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Town_City</name>
            <dataType>String</dataType>
            <fieldText>Billing Town/City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_County_State</name>
            <dataType>String</dataType>
            <fieldText>Billing County/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Billing_Postcode</name>
            <dataType>String</dataType>
            <fieldText>Billing Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Country</name>
            <choiceReferences>mailingCountryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billing Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FaultScreen</name>
        <label>FaultScreen</label>
        <locationX>1898</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ShippingAddress</name>
        <label>ShippingAddress</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Billing_Address</targetReference>
        </connector>
        <fields>
            <name>shippingAddressText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Shipping/Mailing Address&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Mailing_Street</name>
            <dataType>String</dataType>
            <fieldText>Mailing/Shipping Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_Town_City</name>
            <dataType>String</dataType>
            <fieldText>Mailing/Shipping Town/City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_County_State</name>
            <dataType>String</dataType>
            <fieldText>Mailing/Shipping County/State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mailing_Postcode</name>
            <dataType>String</dataType>
            <fieldText>Mailing/Shipping Postcode</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mailing_Country</name>
            <choiceReferences>mailingCountryChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mailing/Shipping Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_Billing_Address_Same_as_Mailing_Address</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is Billing Address Same as Shipping/Mailing Address?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>nAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
