unpackaged/main/default/flows/Create_Prescription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Nav_To_Record</name>
        <label>Nav To Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>nPrescription.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Prescription</name>
        <label>Assign Prescription</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>nPrescription.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Treatment__r.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Treatment__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Treatment_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Prescription</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Prescription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Prescription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Treatment_Product</name>
        <label>Get Treatment Product</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prescription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billable_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Prescription</name>
        <label>New Prescription</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Prescription_Autolaunch</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nPrescription.Patient__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nPrescription.Product__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nPrescription.Prescribing_Doctor__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nPrescription.Dosage__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nPrescription.Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>Send_for_Approval</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Send for Approval?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Treatment_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>New_Prescription_Autolaunch</name>
        <label>New Prescription Autolaunch</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Nav_To_Record</targetReference>
        </connector>
        <flowName>New_Prescription_Autolaunch</flowName>
        <inputAssignments>
            <name>prescribingDoctorId</name>
            <value>
                <elementReference>nPrescription.Prescribing_Doctor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sendForApproval</name>
            <value>
                <elementReference>Send_for_Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>treatmentProduct</name>
            <value>
                <elementReference>nPrescription.Product__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>nPrescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
