unpackaged/main/default/flows/Create_Consultation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Nav_To_Record</name>
        <label>Nav To Record</label>
        <locationX>534</locationX>
        <locationY>1358</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>nConsultation.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Consultation</name>
        <label>Assign Consultation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>nConsultation.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultation_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Time_of_Consultation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Consultant.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultant_Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChooseFacilityContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Internal_Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>internalPractitioner_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chooseFacility_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consultation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Consultation</name>
        <label>Copy 1 of Assign Consultation</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>nConsultation.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultation_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookedDate_Time_of_Consultation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalConsultant.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultant_Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookedFacilityContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Internal_Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalPractitioner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChooseFacility.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consultation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Consultation</name>
        <label>Copy 1 of Copy 1 of Assign Consultation</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>nConsultation.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To do</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultation_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookedDate_Time_of_Consultation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExternalConsultant.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Consultant_Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookedFacilityContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Internal_Practitioner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InternalPractitioner.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChooseFacilityContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nConsultation.Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChooseFacility.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Consultation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>bookConsultation</name>
        <choiceText>Book a Future Consultation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>pastConsultation</name>
        <choiceText>Record a Consultation that has happened</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Booked</name>
        <label>Booked?</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Consultation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_a_confirmed_Date_Time_for_the_Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Consultation</targetReference>
            </connector>
            <label>Yes Booked</label>
        </rules>
        <rules>
            <name>Not_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_a_confirmed_Date_Time_for_the_Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Consultation</targetReference>
            </connector>
            <label>Not Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Billable</name>
        <label>Create Billable?</label>
        <locationX>534</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateBillable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Billable_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Billable_Item_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoBillable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Billable_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nav_To_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Consultation_Taken_Place</name>
        <label>Has Consultation Taken Place</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_Consultation_already_taken_place</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consultation_Detail_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_Consultation_already_taken_place</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Consultation_Detail</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>channelChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Channel__c</picklistField>
        <picklistObject>Consultation__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>statusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>typeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type__c</picklistField>
        <picklistObject>Consultation__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>supplierFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Channel}=&quot;External - Facility&quot;,{!nConsultation.Facility__c},IF({!Channel}=&quot;External - Consultant Direct&quot;,{!nConsultation.Consultant__c},NULL))</expression>
    </formulas>
    <interviewLabel>Create Consultation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Consultation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Consultation</name>
        <label>Create Consultation</label>
        <locationX>534</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Create_Billable</targetReference>
        </connector>
        <inputReference>nConsultation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Consultation_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Consultation_Detail</name>
        <label>Consultation Detail</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Has_Consultation_Taken_Place</targetReference>
        </connector>
        <fields>
            <name>Has_the_Consultation_already_taken_place</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the Consultation already taken place?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>typeChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Channel</name>
            <choiceReferences>channelChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Channel</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Create_Billable_Item</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create Billable Item?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consultation_Detail_0</name>
        <label>Consultation Detail</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Consultation</targetReference>
        </connector>
        <fields>
            <name>Consultant</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Consultant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose External Consultant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ExternalConsultantDirect</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chooseFacility_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Facility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Facility</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChooseFacilityContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Consultant_Practitioner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Facility Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Facility</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>internalPractitioner_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Internal_Practitioner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Internal Practitioner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_Time_of_Consultation</name>
            <dataType>DateTime</dataType>
            <fieldText>Date/Time of Consultation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Outcome</name>
            <fieldText>Outcome</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Consultation_Detail</name>
        <label>Copy 1 of Consultation Detail</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Booked</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_a_confirmed_Date_Time_for_the_Consultation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have a confirmed Date/Time for the Consultation?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExternalConsultant</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Consultant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose External Consultant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>ExternalConsultantDirect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_have_a_confirmed_Date_Time_for_the_Consultation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChooseFacility</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Facility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Facility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Facility</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BookedFacilityContact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Consultant_Practitioner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Choose Facility Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Facility</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Do_you_have_a_confirmed_Date_Time_for_the_Consultation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InternalPractitioner</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Internal_Practitioner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Internal Practitioner</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Consultation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Channel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Internal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BookedDate_Time_of_Consultation</name>
            <dataType>DateTime</dataType>
            <fieldText>Date/Time of Consultation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_a_confirmed_Date_Time_for_the_Consultation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Billable_Item_0</name>
        <label>Create Billable Item</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Nav_To_Record</targetReference>
        </connector>
        <flowName>Create_Billable_Item</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>nConsultation.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channel</name>
            <value>
                <elementReference>Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>consultationId</name>
            <value>
                <elementReference>nConsultation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>nConsultation.Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>supplierId</name>
            <value>
                <elementReference>supplierFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>nConsultation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consultation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
