unpackaged/main/default/flows/Create_Membership_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Account_Membership</name>
        <label>Assign Account Membership</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>nAccountMembership.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nAccountMembership.Membership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nMembership.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Membership_Id</name>
        <label>Assign Membership Id</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>membershipId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nMembership.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Membership</name>
        <label>Assign to Membership</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>nMembership.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Membership_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Membership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoHouseholdMembership</name>
        <label>Assign to Household Membership</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>nMembership.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Membership_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Household_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateHouseholdMembership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigntoOrganisationMembership</name>
        <label>Assign to Organisation Membership</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>nMembership.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>endDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>endDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Membership_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nMembership.Organisation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>membershipAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOrganisationMembership</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Is_Membership_Id_Provided</name>
        <label>Copy 1 of Is Membership Id Provided</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AssigntoOrganisationMembership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_MembershipId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>membershipId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>membershipAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Copy 1 of Yes MembershipId Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Membership_Id_Provided</name>
        <label>Is Membership Id Provided</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AssigntoHouseholdMembership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MembershipId_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>membershipId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>membershipAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes MembershipId Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Membership_Individual_Or_Group</name>
        <label>Is Membership Individual or Group</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Membership_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Membership</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
        <rules>
            <name>Household</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Membership_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Membership_Id_Provided</targetReference>
            </connector>
            <label>Household</label>
        </rules>
        <rules>
            <name>Organisation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product.Membership_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organisation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Is_Membership_Id_Provided</targetReference>
            </connector>
            <label>Organisation</label>
        </rules>
    </decisions>
    <description>Autolaunch flow to create Membership record</description>
    <environments>Default</environments>
    <formulas>
        <name>endDateFormula</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!startDate},{!term})</expression>
    </formulas>
    <interviewLabel>Create Membership Autolaunch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Membership Autolaunch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Membership</name>
        <label>Create Account Membership</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>nAccountMembership</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Membership</name>
        <label>Create Membership</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Assign_Membership_Id</targetReference>
        </connector>
        <inputReference>nMembership</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateHouseholdMembership</name>
        <label>Create Household Membership</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <inputReference>nMembership</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOrganisationMembership</name>
        <label>Create Organisation Membership</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <inputReference>nMembership</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Membership_Individual_Or_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>endDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>membershipAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>membershipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>nAccountMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Membership__c</objectType>
    </variables>
    <variables>
        <name>nMembership</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Membership__c</objectType>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>term</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
