unpackaged/main/default/flows/Create_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Nav_To_Record</name>
        <label>Nav To Record</label>
        <locationX>270</locationX>
        <locationY>866</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>nTest.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Booked_Date</name>
        <label>Assign Booked Date</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>nTest.Booked_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bookedDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nTest.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nTest.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Test</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Consultant</name>
        <choiceText>Consultant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consultant</stringValue>
        </value>
    </choices>
    <choices>
        <name>Facility</name>
        <choiceText>Facility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Facility</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Billing_Item_0</name>
        <label>Create Billing Item</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCreateBillingItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Billing_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Billable_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>NoDoNotCreateBillingItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Billing_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nav_To_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>channelPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Channel__c</picklistField>
        <picklistObject>Test__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>bookedDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!nTest.Status__c},&quot;Booked&quot;),{!$Flow.CurrentDate},NULL)</expression>
    </formulas>
    <formulas>
        <name>supplierFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!nTest.Channel__c},&quot;External - Facility&quot;),{!nTest.Facility__c},IF(ISPICKVAL({!nTest.Channel__c},&quot;External - Consultant Direct&quot;),{!nTest.External_Consultant__c},NULL))</expression>
    </formulas>
    <interviewLabel>Create Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Test</name>
        <label>Create Test</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Create_Billing_Item_0</targetReference>
        </connector>
        <inputReference>nTest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Test_Info</name>
        <label>Test Info</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Booked_Date</targetReference>
        </connector>
        <fields>
            <name>Case</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Case__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Patient</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Patient__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Test__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Test_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Notes__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nTest.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Booked</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Outcome__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nTest.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Complete</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Channel__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Facility__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nTest.Channel__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Facility</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Consultant_Practitioner__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nTest.Channel__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Facility</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.External_Consultant__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>nTest.Channel__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>External - Consultant Direct</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>nTest.Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>Create_Billing_Item</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create Billing Item?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Billable_Item</name>
        <label>Create Billable Item</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Nav_To_Record</targetReference>
        </connector>
        <flowName>Create_Billable_Item</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>nTest.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>channel</name>
            <value>
                <elementReference>nTest.Channel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientId</name>
            <value>
                <elementReference>nTest.Patient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>supplierId</name>
            <value>
                <elementReference>supplierFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>testId</name>
            <value>
                <elementReference>nTest.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>type</name>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>nTest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
