unpackaged/main/default/flows/New_Prescription_Autolaunch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>nPrescription.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>nPrescription.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>approvers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>04a26000000DMYP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Prescription</name>
        <label>Assign Prescription</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>nPrescription.Treatment_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Treatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Treatment__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Prescribing_Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>prescribingDoctorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>approvers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prescribingDoctorId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nPrescription.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treatment_Product.Treatment__r.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Prescription</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Status_for_Approval</name>
        <label>Is Status for Approval?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Status_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sendForApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Yes Status for Approval</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>New Prescription Autolaunch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Prescription Autolaunch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Prescription</name>
        <label>Create Prescription</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Is_Status_for_Approval</targetReference>
        </connector>
        <inputReference>nPrescription</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Treatment_Product</name>
        <label>Get Treatment Product</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prescription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>treatmentProduct</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Billable_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Treatment_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nPrescription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>prescribingDoctorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sendForApproval</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>treatmentProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>treatmentProductId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
